<div class="row my-3">
    @for(course of courses; track course.id) {
     <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" [src]="course.image" [alt]="course.title" />
            <div class="card-body">
                <h4 class="card-title">{{ course.title }}</h4>
                <p class="card-text">{{ course.body }}</p>
                <p><span class="badge text-bg-success">{{ course.price }}</span></p>
                <div class="text-center">
                    <button (click)="requestEditCourse(course)" class="btn btn-warning btn-sm mx-2">
                        <i class="fa fa-pencil"></i>
                    </button>
                    @if(course.id) {
                        <button (click)="requestDeleteCourse(course.id)" class="btn btn-danger btn-sm mx-2">
                            <i class="fa fa-times"></i>
                        </button>
                    }
                </div>
            </div>
        </div>
        
     </div>
    }
</div>