<div class="row my-5">
    <div class="col-md-6">
        <h1>List of courses</h1>
    </div>
    <div class="col-md-6 text-end">
        <button (click)="toggleForm()" class="btn btn-sm btn-primary">
            <i class="fa" [ngClass]="{
                'fa-arrow-up': addable,
                'fa-arrow-down': !addable
            }"
            [ngStyle]="{
                color: addable ? 'red' : 'yellow'
            }"
            ></i>
        </button>
    </div>
</div>

@if(addable) {

    <div class="row my-5">
        <div class="col-md-6 mx-auto">

            {{ myCourse | json }}
            <div class="form-group my-2">
                <label for="title">Title</label>
                <input [(ngModel)]="myCourse.title" class="form-control" placeholder="Tape the Title" type="text" name="" id="title">
            </div>
    
            <div class="form-group my-2">
                <label for="image">Image</label>
                <input [(ngModel)]="myCourse.image" placeholder="Url for a course" type="url" name="" id="image" class="form-control">
            </div>
            <div class="form-group my-2">
                <label for="price">Price</label>
                <input [(ngModel)]="myCourse.price" placeholder="tape Price" type="number" name="" id="price" class="form-control">
            </div>
            <div class="form-group my-2">
                <label for="body">Body</label>
                <textarea [(ngModel)]="myCourse.body" placeholder="content of a course" rows="4" class="form-control" id="body"></textarea>
            </div>
            <div class="d-grid my-2">
                <button class="btn btn-info" (click)="persist()">Submit</button>
            </div>
        </div>
    </div>
}
<div class="row my-2">
    <div class="col-md-12 text-end">
        <button (click)="toogleDisplayOption(true)" class="btn btn-secondary btn-sm mx-1">List</button>
        <button (click)="toogleDisplayOption(false)" class="btn btn-secondary btn-sm mx-1">Grid</button>
    </div>
</div>

@if(list) {

    <div class="row my-3">
        <ul class="list-group">
            @for(course of courses; track course.id) {
                <li class="list-group-item">
                    <img class="my-3" width="150px" [src]="course.image" alt="" srcset="">
                    <h1>{{ course.title }}</h1>
                    <p>{{ course.body }}</p>
                    <div><span class="badge text-bg-success my-3">{{ course.price }} DH</span></div>
                    <div class="text-end">
                        <button class="btn mx-1 btn-lg btn-warning">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn mx-1 btn-lg btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </li>
            }
        </ul>
    </div>
}
@else {

    <div class="row my-3">
        @for(course of courses; track course.id) {
         <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" [src]="course.image" [alt]="course.title" />
                <div class="card-body">
                    <h4 class="card-title">{{ course.title }}</h4>
                    <p class="card-text">{{ course.body }}</p>
                    <p><span class="badge text-bg-success">{{ course.price }}</span></p>
                    <div class="text-center">
                        <button class="btn btn-warning btn-sm mx-2">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm mx-2">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            
         </div>
        }
    </div>
}