<div class="row my-5">
    <div class="col-md-6">
        <h1>List of courses</h1>
    </div>
    <div class="col-md-6 text-end">
        <button (click)="toggleForm()" class="btn btn-sm btn-primary">
            <i class="fa" [ngClass]="{
                'fa-arrow-up': addable,
                'fa-arrow-down': !addable
            }"
            [ngStyle]="{
                color: addable ? 'red' : 'yellow'
            }"
            ></i>
        </button>
    </div>
</div>

@if(addable) {

    <div class="row my-5">
        <div class="col-md-6 mx-auto">

            {{ myCourse | json }}
            <div class="form-group my-2">
                <label for="title">Title</label>
                <input [(ngModel)]="myCourse.title" class="form-control" placeholder="Tape the Title" type="text" name="" id="title">
            </div>
    
            <div class="form-group my-2">
                <label for="image">Image</label>
                <input [(ngModel)]="myCourse.image" placeholder="Url for a course" type="url" name="" id="image" class="form-control">
            </div>
            <div class="form-group my-2">
                <label for="price">Price</label>
                <input [(ngModel)]="myCourse.price" placeholder="tape Price" type="number" name="" id="price" class="form-control">
            </div>
            <div class="form-group my-2">
                <label for="body">Body</label>
                <textarea [(ngModel)]="myCourse.body" placeholder="content of a course" rows="4" class="form-control" id="body"></textarea>
            </div>
            <div class="d-grid my-2">
                @if(editable) {

                    <button class="btn btn-warning" (click)="updateCourse()">Update</button>
                }
                @else {
                    
                    <button class="btn btn-info" (click)="persist()">Submit</button>
                }
            </div>
        </div>
    </div>
}
<div class="row my-2">
    <div class="col-md-12 text-end">
        <button (click)="toogleDisplayOption(true)" class="btn btn-secondary btn-sm mx-1">List</button>
        <button (click)="toogleDisplayOption(false)" class="btn btn-secondary btn-sm mx-1">Grid</button>
    </div>
</div>

@if(list) {

    <app-display-list-course [courses]="courses" (edit)="editCourseById($event)" (delete)="deleteCourseById($event)"></app-display-list-course>
   
}
@else {

    <app-display-grid-course [courses]="courses" (edit)="editCourseById($event)" (delete)="deleteCourseById($event)"></app-display-grid-course>
}