<div class="row my-5">
    <div class="col-md-6 mx-auto">

       
        <div class="form-group my-2">
            <label for="title">Title</label>
            <input [(ngModel)]="myCourse.title" class="form-control" placeholder="Tape the Title" type="text" name="" id="title">
        </div>

        <div class="form-group my-2">
            <label for="image">Image</label>
            <input [(ngModel)]="myCourse.image" placeholder="Url for a course" type="url" name="" id="image" class="form-control">
        </div>
        <div class="form-group my-2">
            <label for="price">Price</label>
            <input [(ngModel)]="myCourse.price" placeholder="tape Price" type="number" name="" id="price" class="form-control">
        </div>
        <div class="form-group my-2">
            <label for="body">Body</label>
            <textarea [(ngModel)]="myCourse.body" placeholder="content of a course" rows="4" class="form-control" id="body"></textarea>
        </div>
        <div class="d-grid my-2">
                <button class="btn btn-warning" (click)="update()">Update <i class="fa fa-refresh"></i></button>
        </div>
    </div>
</div>