<div class="row my-5">
    <div class="col-md-6 mx-auto">
        <h1 class="my-5">Login with our system</h1>

        <div class="form-group my-3">
            <label for="">Username</label>
            <input [(ngModel)]="login" type="text" name="" id="username" class="form-control">
        </div>
        <div class="form-group my-3">
            <label for="">Password</label>
            <input [(ngModel)]="password" type="password" name="" id="password" class="form-control">
        </div>
       

            <div class="d-grid my-2">
                <button (click)="loginWithUsernameAndPass()" class="btn btn-primary">Login</button>
            </div>
        
    </div>
</div>