<div class="row my-5">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="my-5">Counter from a Store</h1>
        <div class="my-4 text-center">

            <h2 class="my-3">{{ myCounter }}</h2>

            <button (click)="increase()" class="btn btn-primary mx-3">Increment</button>
            <button (click)="decrease()" class="btn btn-info mx-3">Decrement</button>
            <button (click)="resetCounter()" class="btn btn-danger mx-3">Reset</button>
        </div>
    </div>
</div>