
{{ currentDate | date:'short' }}
<div class="row my-3">
    <ul class="list-group">
        @for(course of courses; track course.id) {
            <li class="list-group-item">
                
                <a [routerLink]="['/store/elearning', course.id]">
                    <img class="my-3" width="150px" [src]="course.image" alt="" srcset="">
                </a>
                <a [routerLink]="['/store/elearning', course.id]">
                    <h1>{{ course.title }}</h1>
                </a>
                <p>{{ course.body  | titlecase | resume:20 }}</p>
                <div><span class="badge text-bg-success my-3">{{ course.price | currency:'MAD':'symbol':'1.3-3' }}</span></div>
                <div class="text-end">
                    <a [routerLink]="['/store/elearning/edit', course.id]" class="btn btn-info btn-lg mx-1"><i class="fa fa-refresh"></i></a>
                    <button (click)="requestEditCourse(course)" class="btn mx-1 btn-lg btn-warning">
                        <i class="fa fa-pencil"></i>
                    </button>
                    @if(course.id) {
                        <button (click)="requestDeleteCourse(course.id)" class="btn mx-1 btn-lg btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    }
                </div>
            </li>
        }
    </ul>
</div>